- const tags = [{ name: 'python', count: 12}, { name: 'typescript', count: 13}, { name: 'javascript', count: 28}, { name: 'fuck', count: 28},{ name: 'winter', count: 28}, { name: 'winterwinterwinterwinterwinter', count: 28}, { name: 'typescript', count: 13}, { name: 'typescript', count: 13}, { name: 'typescript', count: 13}, { name: 'typescript', count: 13}, { name: 'typescript', count: 13}, ]
- const tagHref = '/blog/1212'

aside#blog-tag-aside
  #blog-tag-title Hashtag
  ul#blog-tag-list
    for tag in tags
      li
        a.blog-tag(href=tagHref) #{tag.name} (#{tag.count})


