section#blog-list-section 
  #blog-item(onclick="location.href='/blog/test-테스트-fuck';")
    #blog-item-date
      span Oct.20.2021 
      img(src="https://techblog.woowahan.com/wp-content/uploads/2021/08/인재영입-150x150.jpg" alt="hhh")
    #blog-item-title 윤상석 그는 누구인가? 세계 최강자 윤상석 그가 깨어나다.!!
    #blog-item-description 윤상석에 대해서 설명합니다.
  hr.divider-line
  #blog-item
    #blog-item-updated_at Oct.14.2021 
    #blog-item-title 셀프 서비스 디자인 서비스 #1 - 디자이너 편
    #blog-item-description 일을 더 잘하기 위해 만들어진 "디자인 시스템"에 대해 소개하려 합니다.
  hr.divider-line
  #blog-item
    #blog-item-updated_at Oct.20.2021 
    #blog-item-title 상석쇼핑라이브를 만드는 기술 : 채팅편
    #blog-item-description 쇼핑라이브가 채탱을 자체 구현하게 된 배경과 문제 해결 경험을 공유합니다.
  hr.divider-line
