section#blog-list-section {
  font-family: var(--font-nanum);
}

#blog-item {
  cursor: pointer;
  color: var(--color-dark);
}

#blog-item:hover {
  color: var(--color-big-dark);
}

#blog-item-date {
  margin-bottom: 7.5px;
}

#blog-item-date > span {
  font-size: 14px;
  margin-right: 3.5px;
}

#blog-item-date > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#blog-item-title {
  font-weight: 900;
  font-size: 30.8px;
  font-size: 33px;
  margin-bottom: 4px;
}

/* #blog-item-description {
  font-size: 15px;
} */
