#pagination-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 100px 0 50px 0;
  font-size: 17px;
}

.pagination-controller {
  color: var(--color-dark);
}

a.pagination-controller:hover {
  text-decoration: none;
  color: var(--color-big-dark);
}

.pagination-not-allowed {
  cursor: not-allowed;
}

#pagination-number {
  color: var(--color-dark);
}

@media screen and (max-width: 414px) {
  #pagination-wrapper {
    margin: 70px 0 50px 0;
  }
}
