@import url('/static/css/editor.css');
@import url('/static/css/code.css');

body {
  max-width: 793px; /* 768 + 25 */
}

#blog-submit-bt {
  display: flex;
  justify-content: end;
}

#blog-submit-bt > button {
  width: 150px;
  margin-bottom: 100px;
}

.delete-bt-box {
  display: flex;
  justify-content: space-between;
}
