extends ../layout/base

block style 
  link(rel="stylesheet" href="/static/css/pages/home.css")

block main
  include ../components/profile.pug
  include ../components/blog-tag.pug
  include ../components/blog-list.pug

