extends ../layout/base

block style
  link(rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css")
  link(rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css")
  link(rel="stylesheet" href="/static/css/pages/uploader.css")

block main
  div(class="mb-3")
    form()
      label(for="formFile" class="form-label") Thumbnail
      input(class="form-control" type="file" id="formFile" name="")
  #editor
  #viewer
  button#submit_bt 업로드

block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js" integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA==" crossorigin="anonymous" referrerpolicy="no-referrer")
  script(src="https://uicdn.toast.com/editor/3.1.0/toastui-editor-all.min.js")
  script(src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js")
  script(src="/static/js/editor.js")
  //- script(src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js")
  //- script.
  //-   const Viewer = toastui.Editor
  //-   console.log(Viewer)
  //-   const viewer = new Viewer({
  //-     el: document.querySelector('#viewer'),
  //-     height: '80vh',
  //-     initialValue: '# hello',
  //-   })
